# Configuration file

general {
    # Use for dev to debug [default: false]
    B:debugMode=false

    # The number of caroucel of the wind down phase [range: 10 ~ 40, default: 20]
    I:slowDistance=20

    # Time during the wind down phase [range: 1.0 ~ 20.0, default: 7.0]
    S:slowTime=7.0
}


